body{
background: white url("images/bg3.jpg");
  background-size: cover;
  font-family: "Ubuntu Condensed";
}
.navbar{

	border-radius: 0;

}
.navbar-brand{
	font-family: 'Satisfy',cursive;
}
.horizontal{ display: inline; }
img{style="height:200px; width:200px;" alt="image"}
ul 
{
line-height:200%
{

